$li: 'usersPage';
.#{$li}__search{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #C1CFE0;
  background: #fff;
  font-weight: 500;
  color: #000;
}
.#{$li}Table {
  margin-top: 28px;

  .#{$li}__thead {
    height: 45px;
    width: 100%;
    background: #4E86E4;
    color: #FFF;
    font-weight: 500;

    .#{$li}__tr {
      .#{$li}__name, .#{$li}__company, .#{$li}__contacts, .#{$li}__update {
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: 500;
      }

      .#{$li}__name {
        min-width: 300px;
        padding-left: 70px;
      }

      .#{$li}__company {
        min-width: 200px;
      }

      .#{$li}__contacts {
        min-width: 270px;
      }

      .#{$li}__update {
        min-width: 200px;
      }
    }
  }

  .#{$li}__firstTr {
    height: 29px;
  }
}
.#{$li}__trEmpty{
  height: 29px;
}
.paginationbox {
  color: #3f51b5;
}
