.listUsers__noUsersH2{
  margin-top: 122px;
  text-align: center;
  color: #9BB0CB;
  font-weight: bold;
  font-size: 35px;
}
.listUsers__createUserButton{
  display: block;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  width: 160px;
  height: 40px;
  background: #5E97F3;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}
