.radioProfile {
  .radioProfile__span {
    font-weight: 500;
    color: #000;
    margin-left: 26px;
    position: relative;
  }
  .radioProfile__span:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -26px;
    width: 17px;
    height: 17px;
    background: #FFFFFF;
    border: 1px solid #C1CFE0;
    border-radius: 50%;
  }
  .radioProfile__input:checked + span:before {
    background: #4E86E4;
    border: 3px solid #C1CFE0;
  }
}
.radioProfile__pError {
  position: absolute;
  top: 24px;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 9px;
  color: #EB5757;
}
.radioProfile:nth-child(2) {
  margin-left: 43px;
}
