$pl: 'pagination';
.usersPage__#{$pl} {
  display: flex;
  font-size: 17px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;

  .#{$pl}__tabs, .#{$pl}__arrows {
    color: #c4d0ce;
    background: transparent;
    display: block;
    cursor: pointer;
    font-weight: 500;
    font-size: 21px;
  }

  .#{$pl}__tabs:hover, .#{$pl}__activeTabs:hover {
    transition: color ease 0.3s;
    color: #4E86E4;
  }

  .#{$pl}__activeTabs {
    color: #475666;
  }

  .#{$pl}__points {
    width: 24px;
    background: transparent;
    display: block;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
  }
}
