.capabilities{
  width: 100%;
  height: 541px;
  display: flex;
  padding-top: 65px;
  padding-right: 100px;
  padding-left: 100px;
  background: #fbfcff;
  color: #657C9A;
  .capabilities__sideLeft, .capabilities__sideRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
  }
  .capabilities__sideLeft{
    margin-right: auto;
    .capabilities__selectInput, .capabilities__selectOption{
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      background: #FFF;
    }
    .capabilities__selectInput{
      margin-top: 4px;
      height: 45px;
      border: 1px solid #C1CFE0;
    }
    .capabilities__selectOption{
      margin-top: 11px;
      height: 132px;
      border: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: normal;
      font-style: normal;
      color: #657C9A;
      option{
        margin-top: 8px;
      }
    }
    .capabilities__informationSpan{
      margin-top: 16px;
    }
    textarea{
      margin-top: 4px;
      width: 100%;
      height: 100px;
      padding: 7px 16px 7px 10px;
      background: #FFF;
      border: 1px solid #E7F0FF;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #000;
    }
  }

  .capabilities__sideRight{
    span{
      margin-bottom: 5px;
    }
    .capabilities__wrapperCheckbox{
      margin-top: 13px;
      display: flex;
      width: 100%;
      input[type="checkbox"]{
        margin-right: 11px;
        width: 13px;
        height: 13px;
        background: #FFFFFF;
        border: 1px solid #C1CFE0;
      }
    }
    .capabilities__wrapperButton{
      margin-top: auto;
      display: flex;
      width: 100%;
      .capabilities__back, .capabilities__finish{
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: #FFF;
      }
      .capabilities__back{
        margin-right: auto;
        background: #C1CFE0;
      }
      .capabilities__finish{
        background: #4EE4A5;
      }
    }
  }

}