.capabilities{
  width: 100%;
  height: 541px;
  display: flex;
  padding-top: 65px;
  padding-right: 100px;
  padding-left: 100px;
  background: #fbfcff;
  color: #657C9A;
  .capabilities__sideLeft, .capabilities__sideRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;

  }
  .capabilities__sideLeft {
    margin-right: auto;

  }
  .capabilities__sideRight{
    .capabilities__hobbies{
      margin-bottom: 17px;
    }
    .capabilities__wrapperButton{
      margin-top: auto;
      display: flex;
      width: 100%;
      .capabilities__back, .capabilities__finish{
        width: 100px;
        height: 40px;
        font-weight: 500;
        color: #FFF;
      }
      .capabilities__back{
        margin-right: auto;
        background: #C1CFE0;
      }
      .capabilities__finish{
        background: #4EE4A5;
      }
    }
  }

}
