.profile {
  width: 100%;
  height: 541px;
  display: flex;
  padding: 65px 100px;
  background: #fbfcff;
  color: #657C9A;
  .profile__form {
    width: 100%;
    display: flex;
    .profile__sideLeft, .profile__sideRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 300px;
    }
    .profile__sideLeft {
      margin-right: auto;
    }
    .profile__sideRight {
      .wrapperGender {
        position: relative;
        margin-top: 12px;
        display: flex;
      }
    }
  }
}
