.listUsers__Pagination{
  display: flex;
  font-size: 17px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  .pagination__tabs{
    color: #c4d0ce;
    background: transparent;
    display: block;
    cursor: pointer;
    font-weight: 500;
  }
  .pagination__tabs:hover{
    transition: color ease 0.3s;
    color: #4E86E4;
  }
  .pagination__activeTabs{
    color: #475666;
  }
}
