.selectCapabilities{
  margin-bottom: 150px;
  position: relative;
  .selectCapabilities__label {
    margin-bottom: 4px;
    display: block;
  }
  .selectCapabilities__pError {
    position: absolute;
    bottom: -15px;
    left: 10px;
    font-size: 9px;
    color: #EB5757;
  }
}

