.header {
  width: 100%;
  height: 60px;
  background: radial-gradient(720.00px at 50% 68.33%, #4E86E4 0%, #2F68C8 100%);
  box-shadow: 0px 1px 5px #C1CEDE;
  .container {
    display: flex;
    .logoA, .addUserA, .loginA {
      cursor: pointer;
    }
    .logoA {
      margin-top: 21px;
      margin-right: auto;
      .logoIcon {
        width: 102px;
        height: 16px;
      }
    }
    .addUserA {
      margin-top: 20px;
      margin-left: auto;
      margin-right: 59px;
      opacity: 0.5;
      color: #FFF;
      .addUserSpan {
        margin-left: 9px;
        font-weight: 500;
      }
      .addUsersIcon {
        width: 17px;
        height: 17px;
      }
    }
    .loginA {
      opacity: 0.5;
      color: #FFF;
      margin-top: 19px;
      .loginIcon{
        .loginIconPath{
          fill: #FFF;
        }
      }
      .loginSpan {
        margin-left: 11px;
        font-weight: 500;
      }
    }
    .activeIcon{
      opacity: 1;
    }
  }
}
.container{
  width: 970px;
  margin-right: auto;
  margin-left: auto;
}

.headline{
  margin-top: 56px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #475666;
}
