.arrayPhone__fieldPhone {
  width: 300px;
  position: relative;
  height: 40px;
  margin-bottom: 45px;
  .arrayPhone__buttonDeleteField {
    background: transparent;
    position: absolute;
    top: 21px;
    right: -24px;
    width: 13px;
    height: 3px;
    cursor: pointer;
    background: #CED9E5;
  }
  .arrayPhone__labelPhone {
    position: absolute;
    top: -23px;
  }
  .arrayPhone__inputMask {
    margin-top: 0;
    width: 100%;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #C1CFE0;
    background: #fff;
    font-weight: 500;
    color: #000;
  }
  .arrayPhone__inputMask::placeholder {
    color: #9BB0CB;;
    opacity: 1;
  }
  .arrayPhone__inputMaskError {
    border: 1px solid #EB5757;
  }
  .arrayPhone__pError {
    display: block;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 9px;
    color: #EB5757;
  }
}
.arrayPhone__addPhoneField {
  background: transparent;
  color: #657C9A;
  position: relative;
  .arrayPhone__addIcon {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
  }
  .arrayPhone__span {
    background: transparent;
    margin-left: 15px;
  }
}
