.profile__birthDate {
  position: relative;
  .profile__birthDateWrapper {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    .profile__birthDateSpan {
      margin-left: auto;
      height: 9px;
    }
  }
  .birthDate__error {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 9px;
    color: #EB5757;
  }
  .profile__datePicker {
    .react-date-picker__wrapper {
      padding-right: 5px;
      padding-left: 5px;
      width: 192px;
      height: 40px;
      background: #FFFFFF;
      border: 1px solid #E7F0FF;
      color: #657C9A;
      .react-date-picker__inputGroup {
        input {
          background: transparent;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: normal;
          color: #657C9A;
        }
      }
    }
    .react-date-picker__calendar {
      width: 192px;
      margin-top: 9px;
    }
  }
  .profile__datePicker.profile__datePickerError{
    .react-date-picker__wrapper {
      border: 1px solid #EB5757;
    }
  }
  .profile__react-calendar {
    width: 192px;
    border: none;
    .react-calendar__navigation {
      height: 35px;
      margin-bottom: 0;
      .react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
        display: none;
      }
      .react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
        min-width: 35px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: normal;
        color: #7890af;
      }
      .react-calendar__navigation__label {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-size: 14px;
        line-height: normal;
        font-weight: 500;
        color: #475666;
      }
    }
    .react-calendar__month-view {
      .react-calendar__month-view__weekdays {
        .react-calendar__month-view__weekdays__weekday {
          abbr[title] {
            border-bottom: none;
            cursor: default;
          }
          abbr {
            border-bottom: none;
            text-transform: none;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: normal;
            text-align: center;
            color: #475666;
          }
        }
      }
      .react-calendar__month-view__days {
        button {
          abbr {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: normal;
            text-align: right;
            color: #475666;
          }
        }
      }
      .react-calendar__month-view__days__day--neighboringMonth {
        display: none;
        cursor: default;
      }
    }
  }
}
