.profile {
  width: 100%;
  height: 541px;
  display: flex;
  padding: 65px 100px;
  background: #fbfcff;
  color: #657C9A;
  .profile__form {
    width: 100%;
    display: flex;
    .profile__sideLeft, .profile__sideRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 300px;
    }
    .profile__sideLeft {
      margin-right: auto;
      .profile__label:first-child {
        margin-top: 23px;
      }
    }
    .profile__sideRight {
      .profile__label:first-child {
        margin-top: 23px;
      }
      .wrapperGender {
        position: relative;
        margin-top: 12px;
        display: flex;
      }
      .wrapperButton {
        margin-top: auto;
        width: 100%;
        display: flex;
        .profile__back, .profile__forward {
          width: 100px;
          height: 40px;
          font-weight: 500;
          text-align: center;
          color: #FFF;
        }
        .profile__back {
          background: #C1CFE0;
        }
        .profile__forward {
          margin-left: auto;
          background: #5E97F3;
        }
      }
    }
  }
}
