.profile{
  width: 100%;
  height: 541px;
  display: flex;
  padding: 65px 100px;
  background: #fbfcff;
  color: #657C9A;
  .profile__form {
    width: 100%;
    display: flex;
    .profile__sideLeft, .profile__sideRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 300px;
    }
    .profile__label {
      position: relative;
      width: 300px;
      margin-bottom: 45px;
      height: 40px;
      h4 {
        position: absolute;
        top: -23px;
      }
      span {
        position: absolute;
        top: -17px;
        right: 0;
      }
      input{
        margin-top: 0;
        width: 100%;
        height: 40px;
        padding-right: 10px;
        padding-left: 10px;
        border: 1px solid #C1CFE0;
        background: #fff;
        font-weight: 500;
        color: #000;
      }
      p {
        display: block;
        margin-top: 3px;
        margin-left: 10px;
        font-size: 9px;
        color: #EB5757;
      }
    }
    .profile__sideLeft {
      margin-right: auto;
      .profile__label:first-child {
        margin-top: 23px;
      }

      .profile__birthDate {
        position: relative;
        h4 {
          position: absolute;
          top: -23px;
        }
        .profile__birthDateSpan {
          position: absolute;
          top: -17px;
          right: 0;
        }
        .profile__datePicker {
          .react-date-picker__wrapper {
            padding-right: 5px;
            padding-left: 5px;
            width: 192px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #E7F0FF;
            color: #657C9A;
            .react-date-picker__inputGroup {
              input {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: normal;
                color: #657C9A;
              }
            }
          }
          .react-date-picker__calendar {
            width: 192px;
            margin-top: 9px;
          }
        }
        .profile__react-calendar {
          width: 192px;
          border: none;
          .react-calendar__navigation {
            height: 35px;
            margin-bottom: 0;
            .react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
              display: none;
            }
            .react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
              min-width: 35px;
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 24px;
              line-height: normal;
              color: #7890af;
            }
            .react-calendar__navigation__label {
              font-family: 'Roboto', sans-serif;
              font-style: normal;
              font-size: 14px;
              line-height: normal;
              font-weight: 500;
              color: #475666;
            }
          }
          .react-calendar__month-view {
            .react-calendar__month-view__weekdays {
              .react-calendar__month-view__weekdays__weekday {
                abbr[title] {
                  border-bottom: none;
                  cursor: default;
                }
                abbr {
                  border-bottom: none;
                  text-transform: none;
                  text-decoration: none;
                  font-family: 'Roboto', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 9px;
                  line-height: normal;
                  text-align: center;
                  color: #475666;
                }
              }
            }
            .react-calendar__month-view__days {
              button {
                abbr {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 9px;
                  line-height: normal;
                  text-align: right;
                  color: #475666;
                }
              }
            }
            .react-calendar__month-view__days__day--neighboringMonth {
              display: none;
              cursor: default;
            }
          }
        }
      }
    }
    .profile__sideRight {
      .profile__label:first-child {
        margin-top: 23px;
      }
      .wrapperGender{
        margin-top: 12px;
        display: flex;
        label{
          span{
            font-weight: 500;
            color: #000;
            margin-left: 26px;
            position: relative;
          }
          span:before {
            content: '';
            position: absolute;
            top: 0px;
            left: -26px;
            width: 17px;
            height: 17px;
            background: #FFFFFF;
            border: 1px solid #C1CFE0;
            border-radius: 50%;
          }
          input:checked + span:before {
            background: #4E86E4;
            border: 3px solid #C1CFE0;
          }
        }
        label:nth-child(2){
          margin-left: 43px;
        }
      }
      .wrapperButton{
        margin-top: auto;
        width: 100%;
        display: flex;
        .profile__back, .profile__forward{
          width: 100px;
          height: 40px;
          font-weight: 500;
          text-align: center;
          color: #FFF;
        }
        .profile__back{
          background: #C1CFE0;
        }
        .profile__forward{
          margin-left: auto;
          background: #5E97F3;
        }
      }
    }
  }
}