.container {
  position: relative;

  .linkBackPage {
    position: absolute;
    top: 63px;
    left: 3px;
    font-weight: bold;
    font-size: 24px;
    color: #9BB0CB;
  }

  .userNamePage {
    margin-top: 35px;
    display: flex;
    padding: 35px 58px;
    background: #fbfcff;
    min-height: 734px;
    .userNamePage__wrapperImg{
      margin-right: 91px;
      width: 200px;
      .userNamePage__avatar {
        width: 200px;
        height: 200px;
        border: 3px solid #5E97F3;
        border-radius: 50%;
      }
      .userNamePage__cropImage{
        display: block;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        transition: all ease 0.3s;
        background-color: #007bff;
        border-color: #007bff;
        border-radius: 4px;
        width: 100px;
        height: 40px;
        font-weight: 500;
        text-align: center;
        color: #FFF;
      }

      .userNamePage__cropImage:hover {
        transition: all ease 0.3s;
        background-color: #0069d9;
        border-color: #0062cc;
      }
    }

    .accountDataWrapper {
      display: flex;
      flex-direction: column;
      color: #475666;
      padding-top: 32px;

      .accountDataWrapper__block {
        margin-bottom: 24px;
        display: flex;

        .accountDataWrapper__section {
          width: 152px;
          display: flex;

          .accountDataWrapper__h3 {
            margin-right: 8px;
            font-weight: 500;
          }

          .accountDataWrapper__buttonEdit {
            margin-top: 1px;
            width: 15px;
            height: 15px;
            background: transparent;

            .accountDataWrapper__editIcon {
              margin-top: 1px;
              width: 15px;
              height: 15px;

              .editIcon {
                fill: #475666;
              }
            }
          }
        }

        .accountDataWrapper__sectionInfo {
          .accountDataWrapper__wrapper {
            margin-bottom: 7px;
            display: flex;

            .accountDataWrapper__h4 {
              font-weight: 500;
              width: 170px;
            }

            .accountDataWrapper__span {
              margin-bottom: 9px;
              max-width: 230px;
              color: #657C9A;
            }

            .accountDataWrapper__a {
              text-decoration-line: underline;
              transition: all ease 0.4s;
            }

            .accountDataWrapper__a:hover {
              text-decoration-line: none;
              transition: all ease 0.4s;
            }
          }

          .accountDataWrapper__wrapperHobbies {
            display: flex;
            flex-direction: column;

            .accountDataWrapper__span {
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
