$us: 'userRow';
.#{$us}:nth-of-type(2n){
  background: #E7F0FF;
}
.#{$us} {
  color: #475666;;
  transition: all ease 0.3s;
  .#{$us}__td {
    .#{$us}__div {
      font-weight: 500;
      height: 93px;
      display: flex;
      align-items: center;
      .#{$us}__lastUpdate{
        min-width: 110px;
        max-width: 110px;
      }
    }
  }

  .#{$us}__fistTD {
    height: 93px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;

    .#{$us}__img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }

    .#{$us}__wrapperDiv {
      margin-top: 7px;
      display: flex;
      flex-direction: column;

      .#{$us}__h4 {
        font-weight: 500;
      }

      .#{$us}__span {
        font-size: 9px;
      }
    }
  }

  .#{$us}__buttonEdit, .#{$us}__buttonClose, .#{$us}__buttonDeleteUser {
    width: 15px;
    height: 15px;
    background: transparent;

    .#{$us}__closeIcon, .#{$us}__editIcon {
      width: 15px;
      height: 15px;
    }
  }

  .#{$us}__buttonEdit {
    .#{$us}__editIcon {
      .editIcon {
        fill: #475666;
      }
    }
  }

  .#{$us}__buttonClose {
    .#{$us}__closeIcon {
      filter: invert(30%) sepia(37%) saturate(314%) hue-rotate(170deg) brightness(92%) contrast(86%);

      .closeIcon {
        fill: #128031;
        color: #2F68C8;
      }
    }
  }

  .#{$us}__buttonEdit {
    margin-left: 9px;
  }

  .#{$us}__buttonClose {
    margin-left: 22px;
  }
}


.deleteUserClass {
  position: relative;
  transform: translateX(-70px);
  opacity: 0.5;
  transition: all ease 0.3s;

  .#{$us}__buttonDeleteUser {
    top: 35px;
    right: -7px;
    position: absolute;

    .#{$us}__deleteUserWrapper {
      display: flex;
      color: #ff4144;
      font-weight: 500;
      background: transparent;

      .deleteUser {
        min-width: 15px;
        min-height: 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        filter: invert(69%) sepia(52%) saturate(1475%) hue-rotate(309deg) brightness(105%) contrast(104%);
        margin-right: 5px;
      }
    }
  }
}
