.listUsersTable {
  margin-top: 28px;
  .listUsers__thead {
    height: 45px;
    width: 100%;
    background: #4E86E4;
    color: #FFF;
    font-weight: 500;
    .listUsers__tr{
      .listUsers__name, .listUsers__company, .listUsers__contacts, .listUsers__update{
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: 500;
      }
      .listUsers__name{
        width: 300px;
        padding-left: 70px;
      }
      .listUsers__company{
        width: 200px;
      }
      .listUsers__update{
        width: 270px;
      }
    }
  }
  .listUsers__firstTr{
    height: 29px;
  }
}
