.ListUsersH2 {
  margin-top: 56px;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: #475666;
}
.ListUsersTable {
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  width: 970px;
  thead {
    height: 45px;
    width: 100%;
    background: #4E86E4;
    color: #FFF;
    font-weight: 500;
    tr{
      th{
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: 500;
      }
      th:first-child{
        width: 300px;
        padding-left: 70px;
      }
      th:nth-child(2){
        width: 200px;
      }
      th:nth-child(3){
        width: 270px;
      }
    }
  }
  tbody {
    tr:first-child{
      height: 29px;
    }
    tr:nth-child(even){
      background: #E7F0FF;
    }
    tr {
      height: 93px;
      td {
        .wrapperUser {
          height: 93px;
          display: flex;
          align-items: center;
          font-weight: 500;
          color: #475666;
          img{
            width: 40px;
            height: 40px;
            margin-right: 15px;
          }
          div{
            margin-top: 7px;
            display: flex;
            flex-direction: column;
            h4{
              font-weight: 500;
            }
            span{
              font-size: 9px;
            }
          }
          button{
            width: 15px;
            height: 15px;
            background: transparent;
            .closeIcon{
              cursor: pointer;
              width: 15px;
              height: 15px;
            }
            .editIcon{
              cursor: pointer;
              width: 15px;
              height: 15px;
            }
          }
          .button_editIcon{
            margin-left: 44px;
          }
          .button_closeIcon{
            margin-left: 22px;
          }
        }
      }
      td:first-child{
        padding-left: 14px;
      }
    }
  }
}
.noUsersH2{
  margin-top: 122px;
  text-align: center;
  color: #9BB0CB;
  font-weight: bold;
  font-size: 35px;
}
.createUserButton{
  display: block;
  margin-top: 64px;
  margin-right: auto;
  margin-left: auto;
  width: 160px;
  height: 40px;
  background: #5E97F3;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}
.ListUsers__Pagination{
  display: flex;
  font-size: 17px;
  color: #c4d0ce;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  span:first-child, span:last-child{
    font-size: 21px;
    margin-top: -5px;
  }
  span{
    display: block;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    font-weight: 500;
  }
  span:hover{
    transition: color ease 0.3s;
    color: #4E86E4;
  }
  .pagination__active{
    color: #475666;
  }
}
