.userFormBox.userFormBoxAccount {
  padding: 0 100px 65px;
}

.userFormBox {
  position: relative;
  display: flex;
  padding: 65px 100px;
  width: 100%;
  height: 541px;
  background: #fbfcff;
  color: #657C9A;

  .userFormBox__sideLeft, .userFormBox__sideRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
  }

  .userFormBox__sideLeft {
    margin-right: auto;
  }

  .userFormBox__hobbies {
    margin-bottom: 17px;
  }

  .userFormBox__sideRight {

    .userFormBox__wrapperGender {
      position: relative;
      margin-top: 12px;
      display: flex;
    }

    .userFormBox__wrapperButton {
      margin-top: auto;
      width: 100%;
      display: flex;

      .userFormBox__back, .userFormBox__forward, .userFormBox__finish, .userFormBox__saveNewListButton {
        width: 100px;
        height: 40px;
        font-weight: 500;
        text-align: center;
        color: #FFF;
      }

      .userFormBox__back {
        background: #C1CFE0;
      }

      .userFormBox__forward, .userFormBox__saveNewListButton {
        margin-left: auto;
        background: #5E97F3;
      }

      .userFormBox__finish {
        margin-left: auto;
        background: #4EE4A5;
      }
    }
  }

  .userAvatarWrapper {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .userAvatarWrapper__inputFile {
      display: none;
    }

    .userAvatarWrapper__buttonCrop {
      margin-top: 14px;
      transition: all ease 0.3s;
      background-color: #007bff;
      border-color: #007bff;
      border-radius: 4px;
      width: 100px;
      height: 40px;
      font-weight: 500;
      text-align: center;
      color: #FFF;
    }

    .userAvatarWrapper__buttonCrop:hover {
      transition: all ease 0.3s;
      background-color: #0069d9;
      border-color: #0062cc;
    }

    .userAvatarWrapper__userAvatarSVG, .userAvatarWrapper__userAvatarIMG {
      cursor: pointer;
      height: 172px;
    }

    .userAvatarWrapper__userAvatarIMG {
      width: 172px;
      border-radius: 50%;
      border: 3px solid #5E97F3;
    }

    .userAvatarWrapper__labelSpan {
      margin-top: 10px;

      .userAvatarWrapper__AddICon {
        margin-bottom: -3px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        color: #9BB0CB;
      }

      .userAvatarWrapper__addAvatarSpan {
        font-weight: 500;
        color: #9BB0CB;
      }
    }

    .userAvatarWrapper__avatarError {
      margin-top: 5px;
      font-size: 9px;
      color: #EB5757;
    }
  }

  .register__userData {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    color: #657C9A;

    .accountComponent__buttonSubmit {
      margin-top: auto;
      margin-left: auto;
      width: 100px;
      height: 40px;
      background: #5E97F3;
      font-weight: 500;
      text-align: center;
      color: #FFF;
    }
  }
}
